<div id="deleteEventModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Event</h4>
            </div>
            <div>
                <div class="modal-body ">
                    <div class="text-center">
                        <div class="text-danger text-large"><h4>Are you sure you want to proceed with deletion?</h4></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" ng-click="deleteEvent(event);" data-dismiss="modal">Yes</button>
                    <button type="reset" class="btn btn-primary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>

    </div>
</div>